<div class="row">
  <div class="small-8 large-centered columns">
    <h1>Add new company</h1>
  </div>

  <%= form_for @company do |f| %>
    <div class="small-8 large-centered columns">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="small-8 large-centered columns">
      <%= f.label :link %>
      <%= f.text_field :link %>
    </div>

    <div class="small-8 large-centered columns">
      <%= f.submit %>
    </div>
  <% end %>
</div>
